<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title th:text="|Horas y fechas|"></title>
    </head>
    <body>
        <div class="container">
            <h2>Gestión de fechas y horas</h2>
            <a class="btn btn-primary mt-4 mb-4" th:href="@{'/nuevo'}">Nuevo Evento</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Foto</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="empleado, info : ${listaEmpleados}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${empleado.nombre}"></td>
                        <td><img height="100" width="100" th:src="@{|fileUploaded/${empleado.foto}|}" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>